<!DOCTYPE HTML>
<html>
	<head>
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
		<title>Kemana - Journey</title>
		<link rel="icon" type="image/png" href="../img/favicon.png">

		<link rel="stylesheet" href="../lib/uikit-3.0.0/uikit.min.css">
		<link rel="stylesheet" href="../font/icomoon/style.css">
		<link rel="stylesheet" href="../app/app.css">
		<link rel="stylesheet" href="../tracker/app/app.css">
		<link rel="stylesheet" href="app/app.css">
	</head>

	<body>
		<div id="app" class="uk-hidden">
			<div id="pg-tracking">
				<div class="uk-padding uk-padding-remove-bottom uk-text-center uk-width-1-1">
					<form class="uk-form-stacked uk-padding uk-padding-remove-top uk-padding-remove-bottom">
						<label class="uk-form-label text-white">Select bus journey...</label>
						<div class="uk-form-controls">
							<select class="uk-select" v-model="selectedVehicle.registration">
								<option v-for="opt in list.vehicle" :value="opt.registration">{{opt.registration}}</option>
							</select>
						</div>
						<div class="uk-margin-small text-white" v-if="selectedVehicle.speed">The bus is moving at {{selectedVehicle.speed}}km/h</div>
					</form>
				</div>
			
				<div class="uk-position-center timeline-container">
					<div v-for="(item, index) in selectedVehicle.checkpoint" class="timeline-item" :class="{arrived: item.arrived}">
						<div class="uk-display-inline-block timeline-dot"><span v-if="item.arrived" class="iconmoon icon-check-circle"></span></div>
						<div class="uk-display-inline-block timeline-body">
							<div class="timeline-title">{{item.desc}}</div>
							<div class="timeline-content"><span class="iconmoon action-icon icon-map"></span><span v-if="item.arrived"> Arrived</span><span v-else> ETA {{selectedVehicle.checkpoint[index].eta}}</span></div>
						</div>
					</div>
				</div>
				
				<div class="uk-hidden uk-position-bottom-center uk-padding"><img src="../img/logo.svg" style="height:32px"></div>
			</div>
		</div>

		<script src="../lib/jquery-3.3.1/jquery.min.js"></script>
		<script src="../lib/moment/moment.min.js"></script>
		<script src="../lib/uikit-3.0.0/uikit.min.js"></script>
		<script src="../lib/vuejs/vue.js"></script>
		<script src="../lib/firebasejs/firebase-5.5.8.js"></script>
		<script src="app/app.js"></script>
		
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAuK6RCR8833Ei9sbZ5Y7it9ananiJxYSg" async defer></script>
	</body>
</html>
