/*============================================================ general */
body {
    overflow-x: hidden;
    overflow-y: hidden;
	background-color: #F8F8F8;
}
body, html, #app {
	width: 100%;
    height: 100%;
    margin: 0;
}
body.notfound {
	background-color: #D9443F;
}
[id^=pg-] {
	width: 100vw;
	height: 100vh;
}
.bg-white {
		background: white !important;
}
.text-white {
	color: white !important;
}
.text-purple {
	color: #BD59D4 !important; /*official purple*/
}
.align-middle {
	vertical-align: middle!important;
}
.pointer {
	cursor: pointer;
}
.td-input {
	padding: 8px 12px !important;
}
.action-icon {
	padding: 10px 5px;
	cursor: pointer;
}
.b-0 {
	border: 0;
}
.pl-0 {
	padding-left: 0;
}
option:disabled {
	font-size: 5px;
}

/*============================================================ marker */
[v_registration] {
	opacity: 1 !important;
	overflow: initial !important;
}
[v_registration]:after {
	content: attr(v_registration);
	color: white;
	padding: 2px 4px;
	border-radius: 4px;
	font-weight: bold;
	position: absolute;
	top: -5px;
	left: 50%;
	transform: translateX(-50%);
	white-space: nowrap;
}
[v_registration][v_type=bus]:after { background: #F45D2E; }
[v_registration][v_type=car]:after { background: #AB47BC; }
[v_registration][v_type=lorry]:after { background: #F1C40F; }
[v_registration][v_type=motorbike]:after { background: #C8D24B; }
[v_registration][v_type=van]:after { background: #19B4CA; }

#gmap[markerhide*='|bus|'] .marker[v_type=bus] { display: none; }
#gmap[markerhide*='|car|'] .marker[v_type=car] { display: none; }
#gmap[markerhide*='|lorry|'] .marker[v_type=lorry] { display: none; }
#gmap[markerhide*='|motorbike|'] .marker[v_type=motorbike] { display: none; }
#gmap[markerhide*='|van|'] .marker[v_type=van] { display: none; }

/*============================================================ iconmoon */
.iconmoon {
	font-size: 22px;
	line-height: 0;
}
.iconmoon.set2 {
	font-weight: bold;
	font-size: 18px;
}

/*============================================================ uikit */
.uk-padding-extra-small {
    padding: 5px;
}
.uk-container {
    margin-top: 25px;
}
zzz.uk-button {
	border: none;
	line-height: 40px;
	transition: .3s ease;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
zzz.uk-button:hover {
	box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.25);
}
.uk-button-primary {
	line-height: 40px;
	border: none !important;
	background: linear-gradient(40deg,#ff6ec4,#7873f5); /*official purple gradient*/
}
.uk-button-primary:hover {
	background: linear-gradient(40deg,#E162AE,#6D69DB); /*official purple gradient darker*/
}
.uk-navbar-nav>li {
	position: relative;
}
.uk-navbar-nav>li.uk-active>a:after {
	content: '';
	width: 100%;
	height: 4px;
	top: 55px;
	position: absolute;
	background: linear-gradient(40deg,#ff6ec4,#7873f5) !important; /*official purple gradient*/
}
.uk-input:focus, .uk-select:focus, .uk-textarea:focus {
	border-color: #BD59D4; /*official purple*/
}
.uk-nav-divider {
	border-top: 1px solid #e5e5e5;
}
.uk-form-label {
	font-size: 16px;
}
.uk-input {
    padding: 0 10px 1px 10px;
}
.uk-input[contenteditable] {
	height: initial;
	padding: 0 10px;
}
@media (min-width: 960px) {
	.uk-form-horizontal .uk-form-label {
		margin-top: 8px;
	}
}

/* ================================================================================== FAB */
.fab {
	position: fixed;
	bottom: 25px;
	right: 25px;
	z-index: 100;
}
.fab .fab-item {
	cursor: pointer;
	color: white;
	width: 55px;
    height: 55px;
	border-radius: 50%;
	transition: .3s ease;
	box-shadow: 0 5px 15px rgba(0,0,0,.28);
	background: linear-gradient(40deg,#ff6ec4,#7873f5);
}
.fab .fab-item:hover {
	background: linear-gradient(40deg,#E162AE,#6D69DB);
}
.fab .fab-item .iconmoon { line-height:1; }
/* ================================================================================== FAB END */

/*============================================================ login */
#pg-login {
	background: linear-gradient(135deg, #72c8f6 1%,#ce74f6 100%);
}
#pg-login:after {
	content: '';
	display: block;
	height: 100vh;
	background: url(../img/login.png) no-repeat center center;
	background-size: contain;
}
#pg-login form {
	width: 350px;
}

/*============================================================ Map */
#gmap {
	width: calc(100vw + 100px);
	height: calc(100vh + 50px);
	margin-top: 28px;
}
ul.map-panel-1 {
	position: fixed;
	top: 70px;
	left: 15px;
	background: rgba(54,63,70,.7);
	padding: 0;
	list-style: none;
	margin: 0;
}
ul.map-panel-1 li {
	padding: 10px;
	text-align: center;
}
ul.map-panel-1 li.divider {
	border-bottom: 1px solid rgba(255,255,255,.7);
	padding-bottom: 15px;
}
ul.map-panel-1 li.divider + li {
	padding-top: 15px;
}
ul.map-panel-1 li img {
	width: 26px;
}
ul.map-panel-1 li.hide img {
	opacity: .5;
}
.map-search-container {
	position: fixed;
	top: 70px;
	right: 15px;
}
.map-search-container input {
	border-color: transparent !important;
	background-color: rgba(54,63,70,.7) !important;
	color: white !important;
	width: 400px;
}
.map-search-container .iconmoon {
	position: absolute;
	top: 20px;
	right: 10px;
	color: rgba(255,255,255,.7);
}
