<!DOCTYPE HTML>
<html>
	<head>
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
		<title>Kemana - Tracker</title>
		<link rel="icon" type="image/png" href="../img/favicon.png">

		<link rel="stylesheet" href="../lib/uikit-3.0.0/uikit.min.css">
		<link rel="stylesheet" href="../font/icomoon/style.css">
		<link rel="stylesheet" href="../app/app.css">
		<link rel="stylesheet" href="app/app.css">
	</head>

	<body>
		<div id="app" class="uk-hidden">

			<!-- ========================================================================================== PAGE WELCOME -->
			<div v-if="page=='welcome'"  id="pg-welcome">
				<img src="img/bus.png" style="width:75%; position:absolute; top:0; right:0; opacity:.7;">
				<div class="uk-position-center uk-padding uk-text-center">
					<img class="uk-margin" src="../img/logo.svg" style="height:50px">
					<div class="uk-margin-large">Welcome. Before you start, you need to activate your smartphone with the core system.</div>
					
					<form class="uk-form-stacked uk-padding">
						<div class="uk-margin">
							<label class="uk-form-label">Phone Number</label>
							<div class="uk-form-controls">
								<input class="uk-input uk-text-center" type="text" placeholder="XXX-XXXXXXX" v-mask="'###-########'" v-model="number">
							</div>
						</div>
						<div class="uk-margin">
							<label class="uk-form-label">Activation Code</label>
							<div class="uk-form-controls">
								<input class="uk-input uk-text-center" type="text" v-model="activationCode">
							</div>
						</div>
						<div class="uk-margin">
							<button type="button" class="uk-button uk-button-primary uk-width-1-1" @click="activate">Activate</button>
						</div>
					</form>
				</div>
			</div>
			
			<!-- ========================================================================================== PAGE TRACKER -->
			<div v-if="page=='tracking'" id="pg-tracking">
				
				<a class="uk-padding-small uk-position-top-right text-white" @click="logout"><span class="iconmoon icon-unlock"></span></a>
		
				<div class="uk-padding uk-text-center uk-width-1-1" style="top:50px">
					<form class="uk-form-stacked uk-padding">
						<div class="uk-margin">
							<label class="uk-form-label text-white">Which vehicle are you driving?</label>
							<div class="uk-form-controls">
								<select class="uk-select" v-model="selectedVehicle.registration" :disabled="trackingOn">
									<option v-for="opt in list.vehicle" :value="opt.registration">{{opt.registration}}</option>
								</select>
							</div>
						</div>
						<div class="uk-margin">
							<label class="uk-form-label text-white">Which checkpoint are you heading?</label>
							<div class="uk-form-controls">
								<select id="headingCheckpoint" class="uk-select" :disabled="!selectedVehicle.registration" @change="markPreviousCheckpoint">
									<option v-for="opt in selectedVehicle.checkpoint" :value="opt.location">{{opt.desc}}</option>
									<option v-if="selectedVehicle.checkpoint.length" value="0,0">Destination Arrived</option>
								</select>
							</div>
						</div>
						<div class="uk-margin">
							<button type="button" class="uk-button uk-width-1-1" :class="{'uk-button-danger':trackingOn, 'uk-button-secondary':!trackingOn}" @click="startTracking" :disabled="!selectedVehicle.registration || !headingCheckpointSelected">{{trackingOn?'Stop':'Start'}} Tracking</button>
						</div>
					</form>
				</div>
				
				<img class="uk-position-center" :class="{'vehicle':trackingOn}" src="img/bus.svg" style="top:60%">
				<img class="road uk-position-center" :class="{'uk-hidden':!trackingOn}" src="img/road.svg" style="top:60%">
				
				<div class="uk-position-bottom-center uk-padding"><img src="../img/logo.svg" style="height:32px"></div>
				
				<div id="logOnScreen" class="uk-position-center uk-padding uk-text-center uk-width-1-1" style="top:calc(100% - 120px); color:white;">
					<div>VERSION: <span id="logVersion"></span></div>
					<div>WATCH TIME: <span id="logTime"></span></div>
					<div>LOCATION: <span id="logLocation"></span></div>
					<div>ACCURACY: <span id="logAccuracy"></span></div>
					<div>KM TO HEADING CP: <span id="logDistance2CP"></span></div>
					<div>{{geolocation.updateInterval}} SECONDS TIME: <span id="logTime10"></span></div>
					<div>PREVIOUS LOCATION: <span id="logLocationPrev"></span></div>
					<div>SPEED: <span id="logSpeed"></span></div>
					<div>KM AFTER {{geolocation.updateInterval}} SECONDS: <span id="logDistance"></span></div>
				</div>
			</div>

		</div>

		<script src="../lib/jquery-3.3.1/jquery.min.js"></script>
		<script src="../lib/moment/moment.min.js"></script>
		<script src="../lib/uikit-3.0.0/uikit.min.js"></script>
		<script src="../lib/vuejs/vue.js"></script>
		<script src="../lib/v-mask/v-mask.min.js"></script>
		<script src="../lib/firebasejs/firebase-5.5.8.js"></script>
		<script src="app/app.js"></script>
	</body>
</html>
